@font-face 
  font-family: "shop-icon"
  src: url('../fonts-shop/shop-icon.eot?t=1548174833320') /* IE9 */
  src: url('../fonts-shop/shop-icon.eot?t=1548174833320#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts-shop/shop-icon.woff?t=1548174833320') format('woff'),
        url('../fonts-shop/shop-icon.ttf?t=1548174833320') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
        url('../fonts-shop/shop-icon.svg?t=1548174833320#shop-icon') format('svg') /* iOS 4.1- */
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'shop-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-you:before {
  content: "\e600";
}

.icon-paixu2:before {
  content: "\e601";
}

.icon-fanhui:before {
  content: "\e637";
}

.icon-pinpaiguanli:before {
  content: "\e63f";
}

.icon-fahuo:before {
  content: "\e6d5";
}

.icon-iconset0219:before {
  content: "\e676";
}

.icon-iconset0330:before {
  content: "\e6e5";
}

.icon-shouji01:before {
  content: "\e622";
}

.icon-dingbu:before {
  content: "\e62c";
}

.icon-nanzhuangpeishizhuanhuan:before {
  content: "\e67a";
}

.icon-lianyiqun:before {
  content: "\e681";
}

.icon-guojiwuliu:before {
  content: "\e7ae";
}

.icon-neiyi:before {
  content: "\e631";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-weipinhui:before {
  content: "\e61d";
}

.icon-xingxing:before {
  content: "\e6cc";
}

.icon-zichanxinxi:before {
  content: "\e60d";
}

.icon-tuijian:before {
  content: "\e60e";
}

.icon-yundong:before {
  content: "\e63a";
}

.icon-buoumaotubiao40:before {
  content: "\e624";
}

.icon-fukuan:before {
  content: "\e646";
}

.icon-shangpin:before {
  content: "\e689";
}

.icon-sousuo:before {
  content: "\e606";
}

.icon-xinyongqia:before {
  content: "\e612";
}

.icon-meizhuang:before {
  content: "\e64c";
}

.icon-fenlei:before {
  content: "\e627";
}

.icon-ziyuan:before {
  content: "\e640";
}

.icon-shaixuan:before {
  content: "\e6a6";
}

.icon-icon-test:before {
  content: "\e669";
}

.icon-huiyuan:before {
  content: "\e8a6";
}

.icon-love_icon:before {
  content: "\e65b";
}

.icon-pingjia:before {
  content: "\e617";
}

.icon-shanchu1:before {
  content: "\e78d";
}

.icon-weibiaoti-:before {
  content: "\e613";
}

.icon-_fuzhi-:before {
  content: "\e60f";
}

.icon-geren:before {
  content: "\e602";
}

.icon-kongxinduigou:before {
  content: "\ebe5";
}

.icon-public-welfare:before {
  content: "\e652";
}

.icon-paixu-shang:before {
  content: "\eeeb";
}

.icon-paixu-xia:before {
  content: "\eeec";
}

.icon-yezi:before {
  content: "\e618";
}

.icon-tubiao-:before {
  content: "\e603";
}

.icon-jiaju-:before {
  content: "\e821";
}

.icon-zuji:before {
  content: "\e632";
}

.icon-thin-_wrist_watc:before {
  content: "\e60b";
}

.icon-shouhou:before {
  content: "\e713";
}

.icon-shangpin1:before {
  content: "\e604";
}

